name: CI/CD Pipeline

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Lint Dockerfiles
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile

      - name: Lint Ansible Playbook
        uses: ansible/ansible-lint@v6
        # No path argument needed; it auto-discovers

  deploy:
    needs: test
    if: github.ref == 'refs/heads/main'
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Ansible Playbook
        run: |
          ansible-playbook -i inventory.ini deploy_stack.yml --vault-password-file ~/.vault_pass